body {
    font-family: "Roboto Light", sans-serif;
    font-weight: normal;
    overflow: scroll;
}

header {
    text-align: center;
    color: black;
    background-color: #fedfc3;
    height: 50px;
}

header h1 {
    display: inline;
    font-weight: lighter;
}

#tealogo {
    margin-left: 550px;
    margin-top: 8px;
    margin-right: 15px;
}

#icon1, #icon2, #icon3 {
    border: none;
    background-color: transparent;
    vertical-align: 63%;
}
#icon1 {
    margin-left: 660px;
}

button {
    cursor: pointer;
}

.navbar {
    background-color: oldlace;
    height: 67px;
    position: relative;
}

.navlinks {
    padding-left: 320px;
    padding-left: 320px;
    padding-top: 25px;
}

.dropdownbox {
    display: inline;
    padding-right: 90px;
    padding-left: 90px;
    width: 1500px;
    text-align: center;
    position: relative;
    padding-bottom: 22.5px;
}

.dropdown {
    display: none;
    z-index: 1;
    background-color: #fedfc3;
    width: 350px;
    overflow: auto;
    position: absolute;
    left: 0;
    margin-left: -30px;
    margin-top: 22.5px;
}

.dropdownbox:hover .dropdown {
    display: block;
}

.dropdown a {
    display: block;
    padding: 15px 15px 5px;
}

.dropdown a:hover {
    background-color: oldlace;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkseagreen;
}

.media-container {
    text-align: center;
}

.image-container {
    text-align: center;
}

.media-container, .image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.text-container {
    text-align: center;
    left: auto;
    display: block;
    background-color: #fedfc3;
    width: 1500px;
    margin-left: 265.5px;
    margin-top: -25px;
    height: 450px
}

.texth {
    padding-top: 15px;
}

.text {
    width: 1400px;
    margin-left: 50px;
    display: block;
}

.teaimage, .mediaimage {
    margin-left: -4.1px;
    margin-right: -4.1px;
}

.media-container img, .image-container img {
    width: 100%;
    height: 100%;
    display: block;
}
.media-container video {
    width: 33.3%;
    height: 100%;
    display: block;
}

.teavideo {

}

.textbutton {
    padding: 10px;
    margin-bottom: 20px;
    background-color: antiquewhite;
    border-color: rosybrown;
    border-radius: 10px;
}

footer {
    background-color: #fedfc3;
    height: 50px;
    margin-top: -4px;
}

footer a {
    padding-right: 90px;
    padding-left: 90px;
}

.copyright {
    float: left;
    padding-left: 5px;
}

.footerlinks {
    width: 1500px;
    text-align: center;
    padding-left: 250px;
    padding-top: 15px;
}
