body {
    font-family: "Roboto Light", sans-serif;
    font-weight: normal;
    overflow: scroll;
}

header {
    text-align: center;
    color: black;
    background-color: #fedfc3;
    height: 50px;
}

header h1 {
    display: inline;
    font-weight: lighter;
}

#tealogo {
    margin-left: 550px;
    margin-top: 8px;
    margin-right: 15px;
}

#icon1, #icon2, #icon3 {
    border: none;
    background-color: transparent;
    vertical-align: 63%;
}
#icon1 {
    margin-left: 660px;
}

button {
    cursor: pointer;
}

.griditem2 {
    background-color: oldlace;
    height: 67px;
    position: relative;
}

.navlinks {
    padding-left: 320px;
    padding-left: 320px;
    padding-top: 25px;
}

.dropdownbox {
    display: inline;
    padding-right: 90px;
    padding-left: 90px;
    width: 1500px;
    text-align: center;
    position: relative;
    padding-bottom: 22.5px;
}

.dropdown {
    display: none;
    z-index: 1;
    background-color: #fedfc3;
    width: 350px;
    overflow: auto;
    position: absolute;
    left: 0;
    margin-left: -30px;
    margin-top: 22.5px;
}

.dropdownbox:hover .dropdown {
    display: block;
}

.dropdown a {
    display: block;
    padding: 15px 15px 5px;
}

.dropdown a:hover {
    background-color: oldlace;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkseagreen;
}

.media-container {
    text-align: center;
}

.image-container {
    text-align: center;
}

.text-container {
    text-align: center;
    position: relative;
    left: auto;
    display: block;
    background-color: #fedfc3;
}

.texth {
    padding-top: 15px;
}

.text {
    display: block;
    padding: 15px;
}

.teaimage, .mediaimage {
    margin-left: -4.1px;
    margin-right: -4.1px;
}

.mediaimage {
    width: 500px;
}

.teaimage {
    width: 503px;
}

.teavideo {

}

.textbutton {
    padding: 10px;
    margin-bottom: 20px;
    background-color: antiquewhite;
    border-color: rosybrown;
    border-radius: 10px;
}

footer {
    background-color: #fedfc3;
    height: 50px;
    margin-top: -4px;
}

footer a {
    padding-right: 90px;
    padding-left: 90px;
}

.copyright {
    float: left;
    padding-left: 5px;
}

.footerlinks {
    width: 1500px;
    text-align: center;
    padding-left: 250px;
    padding-top: 15px;
}

@media (min-width: 992px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto auto 1fr 1fr 1fr auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
    }
    .griditem1 {
        grid-area: 1 / 1 / 2 / 8;
        align-content: center;
        height: 5vh;
    }
    .griditem2 {
        grid-area: 2 / 1 / 3 / 8;
        height: 6.7vh;
    }
    .griditem3 {
        grid-area: 3 / 2 / 6 / 7;
    }
    .griditem4 {
        grid-area: 6 / 1 / 7 / 8;
    }
    .text-container {
        grid-column: 1 / 4;
    }
}

@media (max-width: 992px) {
    .griditem1 {
        height: auto;
    }
    .griditem2 {
        height: auto;
    }
    .griditem4 {
        text-align: center;
        display: block;
        padding-top: 1px;
    }
    .griditem4 a {
        padding-bottom: 2%;
    }
}